.navbar-nav li {
    font-size: 18px;
    font-weight: bold0;
}


.nav-item a {
    text-decoration: none;
    color: #000;
}

/* Add the underline effect on hover */
.nav-item a:hover span {
    border-bottom: 3px solid #000;
}

ion-icon {
    font-size: 26px;
}
